/* Das Gesamt-Grid-Layout */
#grid {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "haupt aside"
    "footer footer";
  grid-template-columns: 75% 25%;
}

/* Header-Styling */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/* Logo links im Header */
header img {
  grid-column: 1;
}

/* Überschrift rechts im Header */
header h1 {
  grid-column: 2;
  justify-self: start;
}

nav {
  grid-area: nav;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column; /* NavBar in einer Zeile anzeigen */
  gap: 5px; /* Abstand zwischen den NavLinks */
  justify-items: start;
}

/* Hauptinhalt in grid template benennen */
main {
  grid-area: haupt;
}

/* SideBar in grid template benennen */
aside {
  grid-area: aside;
}

/* Footer in grid template benennen */
footer {
  grid-area: footer;
}

/* Media Queries */
/* Media Query für Bildschirme min-width 1025px */
@media screen and (min-width: 1025px) {
  #grid {
    grid-template-areas:
      "header nav nav"
      "haupt haupt aside"
      "footer footer footer";
    grid-template-columns: 25% 50% 25%;
  }
}

/* Media Query für kleine Bildschirme (max-width: 768px) */
@media screen and (max-width: 768px) {
  #grid {
    grid-template-areas:
      "header"
      "nav"
      "haupt"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  header img {
    max-width: 70%;
    height: auto;
  }

  header h1 {
    font-size: 1rem;
  }

  nav {
    grid-auto-flow: row; /* NavBar in einer Spalte anzeigen */
    grid-template-columns: repeat(
      2,
      auto
    ); /* 2 NavLinks pro Zeile => 2 Spalten */
  }
}

/* Media Query für noch kleinere Bildschirme (max-width: 480px) */
@media screen and (max-width: 480px) {
  header img {
    max-width: 60%;
    height: auto;
  }

  header h1 {
    font-size: 0.9rem;
  }

  nav {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  nav a {
    width: 100%;
  }

  aside {
    display: none;
  }
}
