#grid {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "haupt aside"
    "footer footer";
  grid-template-columns: 75% 25%;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

header img {
  grid-column: 1;
}

header h1 {
  grid-column: 2;
  justify-self: start;
}

nav {
  grid-area: nav;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 5px;
  justify-items: center;
}

main {
  grid-area: haupt;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
